<div class="container bg-warning">
    <h3>
        Child Component
    </h3>
</div>
<div class="container">
    <table class="table table-striped">

        <ng-container *ngFor="let user of childData;let i=index">
            <thead>
                <tr *ngIf="i==0">
                    <th scope="row" *ngFor="let headobj of getfilterdata(user)">
                        {{headobj.charAt(0).toUpperCase()+headobj.slice(1)}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="i==0">
                    <td *ngFor="let rowobj of getfilterrowdata(user)">
                        {{rowobj}}
                    </td>
                </tr>
            </tbody>
        </ng-container>
    </table>
</div>